<!-- wp:template-part {"slug":"header","theme":"my-cool-theme","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"10rem","left":"10rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"left"}} -->
<div class="wp-block-group" style="padding-right:10rem;padding-left:10rem"><!-- wp:heading {"level":1} -->
    <h1 class="wp-block-heading"><strong>Meet Our Skilled Scientists</strong></h1>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"fontSize":"medium"} -->
    <p class="has-medium-font-size">At the forefront of innovation, our team of dedicated scientists pushes the boundaries of discovery. With expertise spanning genetics, biotechnology, and medical research, they are committed to developing groundbreaking solutions that improve lives worldwide. Their passion for science drives them to explore new frontiers, challenge the unknown, and shape the future of healthcare.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"employe-card","theme":"my-cool-theme","area":"uncategorized"} /-->
    
    <!-- wp:template-part {"slug":"footer","theme":"my-cool-theme","tagName":"footer"} /-->